In [ ]:
#!pip install plotly --upgrade

In [ ]:
#!pip install chart_studio
#!pip install graph_objects
#!pip install "notebook>=5.3" "ipywidgets>=7.2"
#!pip install jupyterlab==1.2 "ipywidgets>=7.5"
#!pip install pymysql

In [31]:
from chart_studio.plotly import plot, iplot
import plotly.graph_objects as go
from plotly.subplots import make_subplots
import pandas as pd
import sqlalchemy
import pymysql
import sys
import os
import plotly.io as pio
pio.templates.default = "none"
import plotly.graph_objects as go
from plotly.subplots import make_subplots
pymysql.install_as_MySQLdb()

In [32]:
for d in sys.path:
    print(d)

/Users/hannahtate/Desktop
/Users/hannahtate/opt/anaconda3/lib/python37.zip
/Users/hannahtate/opt/anaconda3/lib/python3.7
/Users/hannahtate/opt/anaconda3/lib/python3.7/lib-dynload

/Users/hannahtate/opt/anaconda3/lib/python3.7/site-packages
/Users/hannahtate/opt/anaconda3/lib/python3.7/site-packages/aeosa
/Users/hannahtate/opt/anaconda3/lib/python3.7/site-packages/pyandoc-0.0.1-py3.7.egg
/Users/hannahtate/opt/anaconda3/lib/python3.7/site-packages/IPython/extensions
/Users/hannahtate/.ipython

In [33]:
#If in this file is in the repository, use this.
#path = sys.path.append('../..')

In [34]:
#If file is on your desktop, use this.
#path = sys.path.append('.')

In [35]:
#path = sys.path.append( '/Users/hannahtate/Desktop/config.py' )
#config= sys.path.append('config.py/../..')
config = 'C:\\Users\\hannahtate\\Desktop\\config.py'

#with open(path, 'w') as f:
    #f.write(data)

#path = sys.path.append('.')
#config = open('config.py')

In [36]:
from sqlalchemy import create_engine

In [37]:
#Keep config file for our info. 
from config import remote_TM_3_endpoint, remote_TM_3_port
from config import remote_TM_3_dbname, remote_TM_3_dbuser, remote_TM_3_dbpwd

In [38]:
# #Create Cloud DB Connection to TM_3 db.
engine = create_engine(f"mysql+pymysql://{remote_TM_3_dbuser}:{remote_TM_3_dbpwd}@{remote_TM_3_endpoint}:{remote_TM_3_port}/TM_3")
 # Create remote DB connection.
conn = engine.connect()  



# #Create Cloud DB Connection survey_results db.
# engine_sr = create_engine(f"mysql+pymysql://{remote_TM_3_dbuser}:{remote_TM_3_dbpwd}@{remote_TM_3_endpoint}:{remote_TM_3_port}/survey_results")
# # Create remote DB connection.
# conn_sr = engine_sr.connect()

In [23]:
# # Use this syntax when incorporating survey_results
# foo = pd.read_sql("SELECT * FROM survey_results", conn_sr)
# foo.head()


# Use this syntax when incorporating BLS_Data
foo = pd.read_sql("SELECT * FROM BLS_Data", conn)
foo.head()

#rows = cursor.fetchall()
#str(rows)[0:300]

,index,FIPS,Year,Region_Name,State,Industry,Annual_Average_Establishment_Count,Annual_Average_Employment,Annual_Total_Wages,Annual_Average _Pay,Avg_Price
0,0,1001,2009,Autauga County,AL,Federal Government,15,100,4476122.0,44873,144408.3333
1,1,1001,2009,None,AL,State Government,16,519,18717293.0,36093,144408.3333
2,2,1001,2009,Autauga County,AL,Local Government,32,1995,67539151.0,33857,144408.3333
3,3,1001,2009,Autauga County,AL,Goods-producing,159,1842,91335147.0,49580,144408.3333
4,4,1001,2009,Autauga County,AL,Natural resources and mining,23,197,5506289.0,28022,144408.3333

In [39]:
# #Data Frame from Survey results.
# survey_df = pd.DataFrame( [[ij for ij in i] for i in foo] )
# survey_df.rename(columns={0: 'ID', 1: 'Attempt', 2: 'Question', 3: 'Data Type', 4:'Chart Type', 5:'Correct', 6:'Registration Date'}, inplace=True);
# df = survey_df.sort_values(['Chart Type'], ascending=[1]);

#Data Frame from BLS Data.
bls_df = pd.DataFrame( [[ij for ij in i] for i in foo] )
bls_df.rename(columns={0: 'Index', 1: 'FIPS', 2: 'Year', 3: 'Region Name', 4:'State', 5:'Industry', 6:'Annual Average Establishment Count', 7:'Annual Average Employment', 8:'Annual Total Wages', 9:'Annual Average Pay', 10:'Average Price'}, inplace=True);
bls_df_year = bls_df.sort_values(['Year'], ascending=[1]);
bls_df_industry = bls_df.sort_values(['Industry'], ascending=[1]);

In [40]:
# Put state in the box.
state = bls_df['State']
for i in range(len(state)):
     try:
         state[i] = str(state[i]).decode('utf-8')
     except:
         state[i] = 'Country name decode error'

In [41]:
#Code for a SCATTER plot.
trace1 = go.Scatter(
    x=bls_df_year['Year'],
    y=bls_df_industry['Industry'],
    text=state,
    mode='markers'
)
layout = go.Layout(
    title='Year vs Industry from MySQL world database',
    xaxis=dict( type='log', title='Year' ),
    yaxis=dict( title='Industry' )
)
data = [trace1]
fig = go.Figure(data=data, layout=layout)
plot.iplot(fig, filename='Year vs Industry')

AttributeError: 'function' object has no attribute 'iplot'

In [ ]:
# Change BUBBLE SIZE for the SCATTER PLOT code.

# (!) Set 'size' values to be proportional to rendered area,
#     instead of diameter. This makes the range of bubble sizes smaller
sizemode='area'

# (!) Set a reference for 'size' values (i.e. a population-to-pixel scaling).
#     Here the max bubble area will be on the order of 100 pixels
sizeref=df['Population'].max()/1e2**2

colors = {
    'Asia':"rgb(255,65,54)",
    'Europe':"rgb(133,20,75)",
    'Africa':"rgb(0,116,217)",
    'North America':"rgb(255,133,27)",
    'South America':"rgb(23,190,207)",
    'Antarctica':"rgb(61,153,112)",
    'Oceania':"rgb(255,220,0)",
}

# Define a hover-text generating function (returns a list of strings)
def make_text(X):
    return 'Country: %s\
    <br>Life Expectancy: %s years\
    <br>Population: %s million'\
    % (X['Name'], X['LifeExpectancy'], X['Population']/1e6)

# Define a trace-generating function (returns a Scatter object)
def make_trace(X, continent, sizes, color):
    return go.Scatter(
        x=X['GNP'],  # GDP on the x-xaxis
        y=X['LifeExpectancy'],    # life Exp on th y-axis
        name=continent,    # label continent names on hover
        mode='markers',    # (!) point markers only on this plot
        text=X.apply(make_text, axis=1).tolist(),
        marker= dict(
            color=color,           # marker color
            size=sizes,            # (!) marker sizes (sizes is a list)
            sizeref=sizeref,       # link sizeref
            sizemode=sizemode,     # link sizemode
            opacity=0.6,           # (!) partly transparent markers
            line= dict(width=3,color="white")  # marker borders
        )
    )

# Initialize data object 
data = []

# Group data frame by continent sub-dataframe (named X), 
#   make one trace object per continent and append to data object
for continent, X in df.groupby('Continent'):

    sizes = X['Population']                 # get population array 
    color = colors[continent]               # get bubble color

    data.append(
        make_trace(X, continent, sizes, color)  # append trace to data object
    )

    # Set plot and axis titles
title = "Life expectancy vs GNP from MySQL world database (bubble chart)"
x_title = "Gross National Product"
y_title = "Life Expectancy [in years]"

# Define a dictionary of axis style options
axis_style = dict(
    type='log',
    zeroline=False,       # remove thick zero line
    gridcolor='#FFFFFF',  # white grid lines
    ticks='outside',      # draw ticks outside axes 
    ticklen=8,            # tick length
    tickwidth=1.5         #   and width
)

# Make layout object
layout = go.Layout(
    title=title,             # set plot title
    plot_bgcolor='#EFECEA',  # set plot color to grey
    hovermode="closest",
    xaxis=dict(
        axis_style,      # add axis style dictionary
        title=x_title,   # x-axis title
        range=[2.0,7.2], # log of min and max x limits
    ),
    yaxis=dict(
        axis_style,      # add axis style dictionary
        title=y_title,   # y-axis title
    )
)

# Make Figure object
fig = go.Figure(data=data, layout=layout)

# (@) Send to Plotly and show in notebook
py.iplot(fig, filename='s3_life-gdp')

In [ ]:
# # Make figure with subplots
# fig = make_subplots(rows=1, cols=2, specs=[[{"type": "bar"},
#                                             {"type": "surface"}]])

# # Add bar traces to subplot (1, 1)
# fig.add_trace(go.Bar(y=[2, 1, 3]), row=1, col=1)
# fig.add_trace(go.Bar(y=[3, 2, 1]), row=1, col=1)
# fig.add_trace(go.Bar(y=[2.5, 2.5, 3.5]), row=1, col=1)

# # Add surface trace to subplot (1, 2)
# # Read data from a csv
# z_data = pd.read_csv("https://raw.githubusercontent.com/plotly/datasets/master/api_docs/mt_bruno_elevation.csv")
# fig.add_surface(z=z_data)

# # Hide legend
# fig.update_layout(
#     showlegend=False,
#     title_text="Default Theme",
#     height=500,
#     width=800,
# )

# fig.show()

In [ ]:
conn = MySQLdb.connect(host="localhost", user="root", passwd="xxxx", db="world")
cursor = conn.cursor()
cursor.execute('select Name, Continent, Population, LifeExpectancy, GNP from Country');

rows = cursor.fetchall()
str(rows)[0:300]