In [ ]:
#!pip install pymysql

In [ ]:
#!pip install --upgrade pip

In [1]:
import pandas as pd
import sqlalchemy
import pymysql
import sys
pymysql.install_as_MySQLdb()

In [2]:
from sqlalchemy import create_engine
##sys.path.append('')

In [3]:
#Keep config file for our info. 
from config import remote_db_endpoint, remote_db_port
from config import remote_gwsis_dbname, remote_gwsis_dbuser, remote_gwsis_dbpwd

In [4]:
#Create Cloud DB Connection. 
engine = create_engine(f"mysql+pymysql://{remote_gwsis_dbuser}:{remote_gwsis_dbpwd}@{remote_db_endpoint}:{remote_db_port}/{remote_gwsis_dbname}")
#data ="sources/NEW_TABLE.csv"
#data_df = pd.read_csv(data)

In [5]:
# Create remote DB connection.
conn = engine.connect()

In [6]:
# Test connection with the cloud db.
#local_engine = create_engine(f"postgresql://{local_db_user}:{local_db_pwd}@{local_db_endpoint}:{local_db_port}/{local_db_name}")
    #local_conn = local_engine.connect()
#except Exception as e:
    #print(e)

IndentationError: unexpected indent (<ipython-input-6-58d0abdcdb1a>, line 3)

In [7]:
infile = "sources/NEW_TABLE.csv"

In [8]:
data = pd.read_csv(infile)

In [9]:
data.head()

,FIPS,Year,Region_Name,State,Industry,Annual_Average_Establishment_Count,Annual_Average_Employment,Annual_Total_Wages,Annual_Average _Pay,Avg_Price
0,1001,2009,Autauga County,AL,Federal Government,15,100,4476122.0,44873,144408.3333
1,1001,2009,NaN,AL,State Government,16,519,18717293.0,36093,144408.3333
2,1001,2009,Autauga County,AL,Local Government,32,1995,67539151.0,33857,144408.3333
3,1001,2009,Autauga County,AL,Goods-producing,159,1842,91335147.0,49580,144408.3333
4,1001,2009,Autauga County,AL,Natural resources and mining,23,197,5506289.0,28022,144408.3333

In [10]:
data_transfer = data.to_sql(conn=conn, name='BLS_Data', if_exists='replace', flavor='mysql')

NameError: name 'con' is not defined

In [ ]:
df = pd.read_csv('File.csv', usercols=['ID', 'START_DATE'], skiprows=skip)
print(df)

In [ ]:
df.to_sql(con=con, name='Table1', if_exists='replace', flavor='mysql')